@font-face {
    font-family: 'Lisboa Heavy';
    src: url('fonts/Lisboa Heavy.woff2') format('woff2'),
         url('fonts/Lisboa Heavy.woff') format('woff'),
         url('fonts/Lisboa Heavy.ttf') format('ttf'),
         url('fonts/Lisboa Heavy.eot') format('eot');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lisboa Heavy', sans-serif;
    max-width: 1920px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 70px;
}

.navbar-logo a {
    text-decoration: none;
    color: #000;
}

.main-navigation__list {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.main-navigation__list a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.main-navigation__list li.active a {
    color: #00c213;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar i {
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.search-bar input {
    color: #B5B5B5;
}