@font-face {
    font-family: 'Lisboa Heavy';
    src: url('fonts/Lisboa Heavy.woff2') format('woff2'),
         url('fonts/Lisboa Heavy.woff') format('woff'),
         url('fonts/Lisboa Heavy.ttf') format('ttf'),
         url('fonts/Lisboa Heavy.eot') format('eot');
}

@font-face {
    font-family: 'PS Elliot Pro';
    src: url('fonts/FS Elliot ProRegular.otf') format('otf');
}

@font-face {
    font-family: 'Faber Sans Pro';
    src: url('fonts/FaberSansPro66reduced.ttf') format('ttf');
}


/* Header section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lisboa Heavy', sans-serif;
    max-width: 1920px;
    width: 100%;
}

.container {
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.navbar-logo a {
    text-decoration: none;
    color: #000;
}

.main-navigation__list {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.main-navigation__list a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.main-navigation__list li.active a {
    color: #00c213;
}

.main-navigation__list a:hover {
    color: #00c213;
    transition: all 0.3s ease-in-out;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 490px;
    height: 70px;
}

.search-bar img {
    color: #B5B5B5;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.search-bar input {
    color: #B5B5B5;
    border: none;
    outline: none;
    font-family: 'Faber Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.text-input {
    width: 419px;
    height: 70px;
    border-right: 1px solid #ededed;
    display: flex;
}

.arrows {
    height: 70px;
    display: flex;
    align-items: center;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.arrows img {
    padding: 0 15px;
}
/* Header section */


/* Hero section */
.main-content {
    background-color:#F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 469px;
    flex: 1;
}

.main-content h1 {
    padding-top: 146px;
    padding-left: 122px;
    height: 94px;
    white-space: nowrap;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
}

.main-content p {
    margin-top: 70px;
    padding-left: 122px;
    width: 515px;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
    font-family: 'PS Elliot Pro', sans-serif;
    color: #2B2B2B;
}

.hero-image {
    display: flex;
    position: absolute;
    top: 100px;
    right: 0;
    overflow: hidden;
    height: 440px;
}

.hero-image img {
    max-width: 100%;
    height: 469px;
    object-fit: cover;
}
/* Hero section */


/* Section 1 */
.advantages {
    height: 408px;
}

.advantages h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 100%;
    white-space: nowrap;
    padding-top: 3.25rem;
}

.advantages .container {
    display: flex;
    justify-content: space-around;
    padding-top: 72px;
    gap: 30px;
}

.advantage-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
}

.advantage-item img {
    width: 60px;
    height: auto;
    margin-right: 30px;
}

.advantage-item h3 {
    font-weight: 700;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #2B2B2B;
}

.h-2 {
    max-width: 122px;
}

.h-3 {
    max-width: 89px;
}

.content,
.content-2 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 'FS Elliot Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #7E7E7E;
}

.content-2 p {
    width: 381px;
}
/* Section 1 */


/* Section 2 */
.directions .container {
    max-width: 1920px;
    margin: 0 auto; 
}

.directions {
    padding: 3.125rem 0;
    background-color: #f8f8f8;
}

.directions h2 {
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 100%;
    color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.25rem;
    width: 100%;
    margin-top: 3.68rem;
    justify-content: space-evenly;
    padding-left: 70px;
}

.direction-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    cursor: pointer;
    color: #2B2B2B;
    text-align: left;
    padding-left: 100px;
}

.direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.25rem;
    cursor: pointer;
    color: #2B2B2B;
    text-align: left;
    width: 280px;
    white-space: nowrap;
    background-color: white;
}

.direction-item-1 {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    width: 100%;
    padding-left: 0.89rem;
    background-color: white;
}

.direction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 0.875rem;
    color: #666;
    cursor: pointer;
    text-align: left;
    width: 100%;
    justify-self: start;
}
/* Section 2 */