@font-face {
    font-family: 'Lisboa Heavy';
    src: url('fonts/Lisboa Heavy.woff2') format('woff2'),
         url('fonts/Lisboa Heavy.woff') format('woff'),
         url('fonts/Lisboa Heavy.ttf') format('ttf'),
         url('fonts/Lisboa Heavy.eot') format('eot');
}

@font-face {
    font-family: 'FS Elliot Pro';
    src: url('fonts/FS Elliot ProRegular.otf') format('otf');
}

@font-face {
    font-family: 'Faber Sans Pro';
    src: url('fonts/FaberSansPro66reduced.ttf') format('ttf');
}


/* Header section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lisboa Heavy', sans-serif;
    max-width: 1920px;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.navbar-logo a {
    text-decoration: none;
    color: #000;
}

.main-navigation__list {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.main-navigation__list a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.main-navigation__list li.active a {
    color: #00c213;
}

.main-navigation__list a:hover {
    color: #00c213;
    transition: all 0.3s ease-in-out;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 490px;
    height: 70px;
}

.search-bar img {
    color: #B5B5B5;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
}

.search-bar input {
    color: #B5B5B5;
    border: none;
    outline: none;
    font-family: 'Faber Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
}

.text-input {
    width: 419px;
    height: 70px;
    border-right: 1px solid #ededed;
    display: flex;
}

.arrows {
    height: 70px;
    display: flex;
    align-items: center;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.arrows img {
    padding: 0 15px;
}
/* Header section */


/* Hero section */
.main-section {
    background-color:#F8F8F8;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 469px;
    flex: 1;
}

.main-content h1 {
    padding-top: 146px;
    padding-left: 200px;
    height: 94px;
    white-space: nowrap;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
}

.main-content p {
    margin-top: 70px;
    padding-left: 200px;
    width: 515px;
    height: 90px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;
    white-space: nowrap;
    font-family: 'PS Elliot Pro', sans-serif;
    color: #2B2B2B;
}

.hero-image {
    display: flex;
    position: absolute;
    top: 100px;
    right: 0;
    overflow: hidden;
    height: 440px;
}

.hero-image img {
    max-width: 100%;
    height: 469px;
    object-fit: cover;
}
/* Hero section */


/* Advantages section */
.advantages {
    height: 408px;
}

.advantages h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 100%;
    white-space: nowrap;
    padding-top: 3.25rem;
    color: #2B2B2B;
}

.grid-container {
    display: flex;
    justify-content: space-around;
    padding-top: 72px;
    gap: 30px;
}

.grid-item-1,
.grid-item-2,
.grid-item-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
}

.grid-item-1 img,
.grid-item-2 img,
.grid-item-3 img {
    width: 60px;
    height: auto;
    margin-right: 30px;
}

.grid-item-1 h3,
.grid-item-2 h3,
.grid-item-3 h3 {
    font-weight: 700;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #2B2B2B;
}

.h-2 {
    max-width: 122px;
}

.h-3 {
    max-width: 89px;
}

.content,
.content-2 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 'FS Elliot Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #7E7E7E;
}

.content-2 p {
    width: 381px;
}
/* Advantages section */


/* Directions section */
.directions .container {
    max-width: 1920px;
    margin: 0 auto; 
}

.directions {
    padding: 3.125rem 0;
    background-color: #f8f8f8;
}

.directions h2 {
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 100%;
    color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.25rem;
    width: 100%;
    margin-top: 3.68rem;
    justify-content: space-evenly;
    padding-left: 70px;
}

.direction-column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    cursor: pointer;
    color: #2B2B2B;
    text-align: left;
    padding-left: 100px;
}

.direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.25rem;
    cursor: pointer;
    color: #2B2B2B;
    text-align: left;
    width: 280px;
    white-space: nowrap;
    background-color: white;
}

.direction-item-1 {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    width: 100%;
    padding-left: 0.89rem;
    background-color: white;
}

.direction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 0.875rem;
    color: #666;
    cursor: pointer;
    text-align: left;
    width: 100%;
    justify-self: start;
}
/* Directions section */


/* Schools section */
.schools {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.schools h2 {
    color: #2B2B2B;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    margin-top: 2.6875rem;
    height: 2.4375rem;
}

.school-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 25px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.school-card {
    width: 287px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 4px 26px 0 rgba(203, 203, 203, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-card .geekbrains {
    padding-left: 30px;
}

.netology {
    padding-left: 10px;
}

.slider-left {
    position: relative;
    right: 55px;
}

.slider-right {
    position: relative;
    left: 60px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grey-dot .active {
    color: #00c213;
} 
/* Schools section */


/* Popular online courses section */
.popular-courses h2 {
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 100%;
    color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    list-style: none;
    height: 35px;
    border-radius: 50px;
}

.categories .li {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 2.25rem;
}

.categories .active {
    border-radius: 40px;
    background-color: #01e45c;
    color: white;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-item-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: 1500px;
    height: 150px;
    box-shadow: 0 9px 15px 0 rgba(226, 226, 226, 0.25);
    margin-top: 33px;
    border: 1px solid #f0f0f0;
}

.course-item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    width: 1500px;
    height: 150px;
    box-shadow: 0 9px 15px 0 rgba(226, 226, 226, 0.25);
    border: 1px solid #f0f0f0;
}

.course-item h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #2B2B2B;
}

.school-name p {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.6875rem;
    color: #b5b5b5;
}

.course-price .first-price {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.6875rem;
    color: #b5b5b5;
    text-decoration: line-through;
}

.course-price h4 {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #2B2B2B;
}

.rub {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.6875rem;
    color: #2B2B2B;
}

.installment {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.6875rem;
    color: #00C213;
}

.installment span {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.6875rem;
    color: #00C213;
}

.course-time {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.course-time img {
    width: 17px;
    height: 17px;
}

.course-time p {
    text-align: left;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.875rem;
}

.course-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.course-info-list {
    list-style: none;
}

.chart {
    width: 13px;
    height: 13px;
}

.info-item {
    padding-top: 8px;
}

.info-item img {
    margin-right: 15px;
}

.course-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
}

.green-btn {
    width: 134px;
    height: 37px;
    border-radius: 100px;
    background-color: #01E45C;
    border: none;

}

.green-btn a {
    color: #fff;
    font-family: 'FS Elliot Pro', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.white-btn {
    width: 134px;
    height: 36px;
    border-radius: 100px;
    border: 1px solid #2b2b2b;
    background-color: #fff;
}

.white-btn a {
    text-decoration: none;
    color: #2b2b2b;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.comparison-txt {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.675rem;
    line-height: 1.5rem;
    color: #8C8C8C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 5px;
}

.see-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 71px;
}

.see-more-btn button {
    width: 180px;
    height: 50px;
    border: 1px solid #D7D7D7;
    border-radius: 100px;
    background-color: #fff;
}

.see-more-btn a {
    text-decoration: none;
    color: #8C8C8C;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
}
/* Popular online courses section */


/* Blog section */
.blogs h2 {
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 100%;
    color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-items {
    display: flex;
    justify-content: center;
    gap: 1.375rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.blog-item {
    width: 384px;
    height: 389px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 26px 0px rgba(188, 188, 188, 0.25);
    
}

.blog-item__top {
    height: 207px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
}

.blog-item__top p {
    width: 10.625rem;
    height: 1.5rem;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 100%;
    color: #FFFFFF;
    border-radius: 100px;
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26px;
    left: 29px;
}

.blog-item__bottom {
    width: 384px;
    height: 182px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    position: relative;
}

.blog-item__text {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #2B2B2B;
    display: flex;
    position: absolute;
    top: 24px;
    left: 28px;
}

.blog-item__date {
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
    color: #8C8C8C;
    display: flex;
    position: absolute;
    top: 128px;
    left: 28px;
}

.blog-item__bottom button {
    width: 115px;
    height: 33px;
    border-radius: 100px;
    border: 1px solid #D7D7D7;
    background-color: #FFF;
    position: absolute;
    top: 118px;
    right: 33px;
}

.blog-item__bottom a {
    text-decoration: none;
    color: #B5B5B5;
    font-family: 'FS Elliot Pro', sans-serif;
}
/* Blog section */


/* Footer section */
footer {
    background-color: #000;
    height: 342px;
    max-width: 1920px;
    width: 100%;
}

.footer-categories {
    display: flex;
    justify-content: space-evenly;
    padding-top: 51px;
    padding-bottom: 60px;
}

.footer-category ul {
    text-align: left;
    font-family: 'FS Elliot Pro', sans-serif;
}

.footer-category li {
    list-style: none;
    padding-bottom: 8px;
    
}

.category-title a {
    font-weight: 700;
    font-size: 0.875rem;
    color: #fff; 
    letter-spacing: 2px;
}

.footer-category li a {
    text-decoration: none;
}

.column-item a {
    color: #a6a6a6;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
}

hr {
    color: #373737;
    opacity: 50%;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 700px;
}

.footer-logo {
    padding-top: 20px;
    display: flex;
    gap: 53px;
}

.footer-logo h3 {
    color: #fff;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 0.9375rem;
}

.footer-logo p {
    color: #B5B5B5;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.footer-socials {
    padding-top: 20px;
    display: flex;
    gap: 15px;
}

.footer-socials p {
    color: #B5B5B5;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    padding-left: 51px;
}
/* Footer section */


@media only screen and (max-width: 768px) {
    html {
        max-width: 768px;
        width: 100%;
        margin: 0px auto;
        overflow-x: hidden;
    }

    /* Header section */
    html {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }

    header .container {
        max-width: 768px;
        width: 100%;
        height: 77px;
        padding: 0px 0px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #EDEDED;
    }

    .navbar-logo h3 {
        padding-left: 16px;
    }

    .main-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-navigation__list {
        width: 446px;
        height: 18px;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 27.55px;
        white-space: nowrap;
    }

    .arrows {
        width: 71px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
    }

    .text-input{
        display: none;
    }

    .search-bar {
        width: 143px;
        height: 77px;
        display: flex;
        justify-content: center;
    }

    .search-bar img:nth-child(1) { /* 2_arrows.png */
        display: block;
    }

    .search-bar img:nth-child(2) { /* loupe.png */
        content: url('/images/loupe-bold.png');
        width: 20px;
        height: 20px;
    }

    .arrows img {
        height: 38.29px;
        width: 31px;
        padding: 0;
        margin: 0;
    }

    /* Hero section */
    .main-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 369px; 
        overflow: hidden;
    }

    .main-content {
        flex: 1;
        max-width: 53%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    } 

    .main-content h1 {
        padding-top: 0;
        padding-left: 14px;
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
        color: #2B2B2B;
        white-space: normal;
    }

    .main-content p {
        font-family: 'FS Elliot Pro', sans-serif;
        max-width: 100%;
        width: 370px;
        height: auto;
        padding-top: 15px;
        padding-left: 16px;
        margin-top: 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 28px;
        color: #2B2B2B;
        white-space: normal;
        word-wrap: break-word;
    }

    .hero-image {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: -35px;
        left: 70px;
    }

    /* Advantages section */
    .advantages {
        height: 530px;
    }

    .advantages h2 {
        padding-top: 3.125rem;
    }

    .grid-container {
        display: grid;
        grid-template-areas: "item1 item2"
                             "item3 .";
    }

    .grid-item-1 {
        width: 339px;
        height: 162px;
    }

    .grid-item-2 {
        width: 309px;
        height: 186px;
    }

    .grid-item-3 {
        width: 286px;
        height: 162px;
    }

    .icon-1 {
        width: 45px;
        height: 36px;
        margin-right: 20px;
    }
}